h1{
    font-family: sans-serif;
    font-size: 32px;
    color: darkred;
}

.body{
    font-size: 16px;
}

.body2{
    font-size: 14px;
}

a:link{
    color: green;
}

a:visited{
    color: pink;
}

a:hover{
    color: red;
}